.error {
	color: red;
}

.flash {
	text-decoration: none;
}

.flash li {
	list-style-type: none;
	text-align: center;

}

.loginflash {
	width:100%;
	background-color: #D3D3D3;
}

p:hover {
	cursor: pointer;
}
table,tr,th,td {
	border: 1px solid;
}

th, tr, td {
	padding-left: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.dc-discipline-chart .axis line{
	stroke: none;
}

.fixed_height_370 {
    height: 370px;
}

#chart-state-ger .x.axis text {
    text-anchor: end !important;
    transform: rotate(-45deg);
}
